NODE_ENV=

BACKEND_HOST=
BACKEND_PORT=
FRONTEND_HOST=
FRONTEND_PORT=

BACKEND_URL=
FRONTEND_URL=
WEBSOCKET_URL=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_POOL_SIZE=

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=kanban
MINIO_PUBLIC_URL=