@import 'tailwindcss';

@layer base {
  * {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-light-400) var(--color-light-300);
    scrollbar-width: thin;
  }

  html {
    /*scrollbar-gutter: stable;*/
  }

  body {
    background-color: var(--color-light-100);
    color: var(--color-light-800);
    min-height: 100vh;
    font-family: Inter, sans-serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .fade-enter-active {
    transition: all 0.3s ease-out;
  }

  .fade-leave-active {
    transition: all 0.3s ease-in;
  }

  .fade-enter-from,
  .fade-leave-to {
    transform: translateY(-20px);
    opacity: 0;
  }

  .menu-fade-enter-active,
  .menu-fade-leave-active {
    transition: opacity 0.3s ease;
  }

  .menu-fade-enter-from,
  .menu-fade-leave-to {
    opacity: 0;
  }
}

@theme {
  --font-inter: 'Inter', sans-serif;

  --spacing: 1px;

  --color-*: initial;

  --color-green: #18a058;
  --color-blue: #2080f0;
  --color-orange: #f0a020;
  --color-red: #d03050;

  --color-light-base: #ffffff;
  --color-light-50: #fafafa;
  --color-light-100: #f5f5f5;
  --color-light-200: #e5e5e5;
  --color-light-300: #d4d4d4;
  --color-light-400: #a3a3a3;
  --color-light-500: #737373;
  --color-light-600: #525252;
  --color-light-700: #404040;
  --color-light-800: #262626;
  --color-light-900: #171717;
  --color-light-black-opacity: rgba(0, 0, 0, 0.4);

  --color-dark-base: #000000;
  --color-dark-50: #0a0a0a;
  --color-dark-100: #171717;
  --color-dark-200: #262626;
  --color-dark-300: #373737;
  --color-dark-400: #525252;
  --color-dark-500: #8a8a8a;
  --color-dark-600: #a3a3a3;
  --color-dark-700: #d4d4d4;
  --color-dark-800: #e5e5e5;
  --color-dark-900: #f5f5f5;
  --color-dark-950: #fafafa;

  --text-*: initial;
  --text-36: 36px;
  --text-32: 32px;
  --text-28: 28px;
  --text-24: 24px;
  --text-22: 22px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;
  --text-10: 10px;
  --text-8: 8px;
  --text-6: 6px;

  --radius-*: initial;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-24: 24px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

@utility max-width {
  @apply max-w-1280;
}

@utility disabled-element {
  @apply pointer-events-none cursor-not-allowed! opacity-50 hover:border-transparent!;
}

@utility hide-scrollbar {
  scrollbar-width: none;
}

@utility editor-ul {
  @apply mx-0 my-8 list-none pl-0;

  & > li {
    @apply relative my-4 pl-18;
  }

  & > li::before {
    content: '';
    @apply bg-light-800 absolute top-1/2 left-2 size-4 rounded-full;
  }

  & > li > p {
    @apply m-0;
  }

  & ul {
    @apply mx-0 my-4;
  }

  & ul > li::before {
    @apply border-light-800 size-4 border bg-transparent;
  }
}

@utility editor-ol {
  counter-reset: editor-ol;
  @apply mx-0 my-8 list-none pl-0;

  & > li {
    counter-increment: editor-ol;
    @apply relative mx-0 my-4 pl-18;
  }

  & > li::before {
    content: counter(editor-ol) '.';
    @apply text-12 text-light-800 absolute top-1 left-0 w-18 text-left tabular-nums;
  }

  & > li > p {
    @apply m-0;
  }

  & ol {
    counter-reset: editor-ol-nested;
    @apply mx-0 my-4;
  }

  & ol > li {
    counter-increment: editor-ol-nested;
    @apply pl-26;
  }

  & ol > li::before {
    content: counter(editor-ol-nested, lower-alpha) '.';
    @apply text-light-800 w-20;
  }
}

@utility editor-todo {
  @apply mx-0 my-8 list-none pl-0;

  & > li {
    @apply my-4 flex flex-nowrap items-center justify-start gap-8;
  }

  & > li > p {
    @apply m-0;
  }

  & > li > label {
    @apply m-0 flex w-fit items-center justify-center;
  }

  & > li > label > input[type='checkbox'] {
    @apply rounded-2 border-green bg-light-base checked:bg-green size-16 appearance-none border bg-center bg-no-repeat;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M3.5 8.5 6.5 11.5 12.5 4.5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

@utility editor-blockquote {
  & > p {
    @apply text-12 rounded-2 block min-h-16 leading-16;
  }
}

@utility drag-ghost {
  @apply border-green! rounded-8 cursor-move! border border-dashed;
}

.CP-sandbox__component {
  z-index: 1100 !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-light-400);
  content: attr(data-placeholder);
  font-family: Inter, sans-serif;
  font-weight: 400;
  float: left;
  height: 0;
  pointer-events: none;
}

.iziToast:after {
  box-shadow: none !important;
}

.iziToast.iziToast-color-green,
.iziToast.iziToast-color-red,
.iziToast.iziToast-color-blue {
  line-height: 145% !important;
  color: var(--color-light-base) !important;
  overflow-wrap: anywhere !important;
  word-break: break-all !important;
}

.iziToast.iziToast-color-green {
  background-color: var(--color-green) !important;
}

.iziToast.iziToast-color-red {
  background-color: var(--color-red) !important;
}

.iziToast.iziToast-color-blue {
  background-color: var(--color-blue) !important;
}

.os-theme-modal,
.os-theme-column,
.os-theme-editor .os-theme-board {
  --os-track-bg: transparent;
  --os-track-bg-hover: transparent;
  --os-track-bg-active: transparent;

  --os-handle-bg: var(--color-light-300);
  --os-handle-bg-hover: var(--color-light-300);
  --os-handle-bg-active: var(--color-light-300);
  --os-handle-border-radius: 2px;
  --os-handle-min-size: 24px;
}

.os-theme-modal,
.os-theme-column {
  --os-size: 4px;
}

.os-theme-board {
  --os-size: 6px;
}

.os-theme-editor {
  --os-size: 2px;
}
