.os-theme-modal {
  --os-size: 4px;

  --os-track-bg: transparent;
  --os-track-bg-hover: transparent;
  --os-track-bg-active: transparent;

  --os-handle-bg: var(--color-light-300);
  --os-handle-bg-hover: var(--color-light-300);
  --os-handle-bg-active: var(--color-light-300);
  --os-handle-border-radius: 8px;
  --os-handle-min-size: 24px;
}
