@import 'tailwindcss';

@layer base {
  * {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-light-300) var(--color-light-400);
    scrollbar-width: thin;
    font-family: Inter, sans-serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  html {
    /*scrollbar-gutter: stable;*/
  }

  body {
    background-color: var(--color-light-100);
    color: var(--color-light-950);
    min-height: 100vh;
  }
}

@theme {
  --font-inter: 'Inter', sans-serif;

  --spacing: 1px;

  --color-*: initial;

  --color-light-base: #ffffff;
  --color-light-50: #fafafa;
  --color-light-100: #f5f5f5;
  --color-light-200: #e5e5e5;
  --color-light-300: #d4d4d4;
  --color-light-400: #a3a3a3;
  --color-light-500: #737373;
  --color-light-600: #525252;
  --color-light-700: #404040;
  --color-light-800: #262626;
  --color-light-900: #171717;
  --color-light-950: #0a0a0a;

  /*--color-dark-base: #000000;*/
  /*--color-dark-50: #0a0a0a;*/
  /*--color-dark-100: #171717;*/
  /*--color-dark-200: #262626;*/
  /*--color-dark-300: #373737;*/
  /*--color-dark-400: #525252;*/
  /*--color-dark-500: #8a8a8a;*/
  /*--color-dark-600: #a3a3a3;*/
  /*--color-dark-700: #d4d4d4;*/
  /*--color-dark-800: #e5e5e5;*/
  /*--color-dark-900: #f5f5f5;*/
  /*--color-dark-950: #fafafa;*/
  --text-*: initial;
  --text-36: 36px;
  --text-32: 32px;
  --text-28: 28px;
  --text-24: 24px;
  --text-22: 22px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;
  --text-10: 10px;
  --text-8: 8px;
  --text-6: 6px;

  --radius-*: initial;
  --radius-4: 4px;
  --radius-6: 4px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-24: 24px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

@utility max-width {
  @apply max-w-1280;
}
