@import 'tailwindcss';

@layer base {
  * {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-light-300) var(--color-light-400);
    scrollbar-width: thin;
    font-family: Inter, sans-serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  html {
    /*scrollbar-gutter: stable;*/
  }

  body {
    background-color: var(--color-light-200);
    color: var(--color-light-800);
    min-height: 100vh;
  }

  .fade-enter-active {
    transition: all 0.3s ease-out;
  }

  .fade-leave-active {
    transition: all 0.3s ease-in;
  }

  .fade-enter-from,
  .fade-leave-to {
    transform: translateY(-20px);
    opacity: 0;
  }

  .modal-showed-enter-active {
    transition: all 0.1s ease-out;
  }

  .modal-showed-leave-active {
    transition: all 0.1s ease-in;
  }

  .modal-showed-enter-from,
  .modal-showed-leave-to {
    transform: scale(0.7);
    opacity: 0;
  }
}

@theme {
  --font-inter: 'Inter', sans-serif;

  --spacing: 1px;

  --color-*: initial;

  --color-light-base: #ffffff;
  --color-light-50: #fafafa;
  --color-light-100: #f5f5f5;
  --color-light-200: #e5e5e5;
  --color-light-300: #d4d4d4;
  --color-light-400: #a3a3a3;
  --color-light-500: #737373;
  --color-light-600: #525252;
  --color-light-700: #404040;
  --color-light-800: #262626;
  --color-light-900: #171717;
  --color-light-950: #0a0a0a;
  --color-light-black-opacity: rgba(0, 0, 0, 0.4);

  /*--color-dark-base: #000000;*/
  /*--color-dark-50: #0a0a0a;*/
  /*--color-dark-100: #171717;*/
  /*--color-dark-200: #262626;*/
  /*--color-dark-300: #373737;*/
  /*--color-dark-400: #525252;*/
  /*--color-dark-500: #8a8a8a;*/
  /*--color-dark-600: #a3a3a3;*/
  /*--color-dark-700: #d4d4d4;*/
  /*--color-dark-800: #e5e5e5;*/
  /*--color-dark-900: #f5f5f5;*/
  /*--color-dark-950: #fafafa;*/
  --color-green: #18a058;
  --color-blue: #2080f0;
  --color-orange: #f0a020;
  --color-red: #d03050;

  --text-*: initial;
  --text-36: 36px;
  --text-32: 32px;
  --text-28: 28px;
  --text-24: 24px;
  --text-22: 22px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;
  --text-10: 10px;
  --text-8: 8px;
  --text-6: 6px;

  --radius-*: initial;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-24: 24px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

@utility max-width {
  @apply max-w-1280;
}
